<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.crossPlatformUniversalApp</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.base</string>
		<string>com.apple.dt.unit.languageChoice</string>
		<string>com.apple.dt.unit.crossPlatformBase</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>SortOrder</key>
	<integer>10</integer>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>sharedContent</string>
			<key>Name</key>
			<string>Include shared content</string>
			<key>NotPersisted</key>
			<false/>
			<key>Default</key>
			<string>true</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Units</key>
			<dict>
				<key>true</key>
				<array>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>sharedContent</key>
							<string>true</string>
						</dict>
						<key>Components</key>
						<array>
							<dict>
								<key>Identifier</key>
								<string>com.apple.dt.unit.crossPlatformUniversalAssets</string>
								<key>Name</key>
								<string>___PACKAGENAME___ Shared</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>OSXPlatform</string>
			<key>Name</key>
			<string>Include macOS Application</string>
			<key>NotPersisted</key>
			<false/>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>true</string>
			<key>Units</key>
			<dict>
				<key>true</key>
				<array>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>OSXPlatform</key>
							<string>true</string>
						</dict>
						<key>Components</key>
						<array>
							<dict>
								<key>Identifier</key>
								<string>com.apple.dt.unit.crossPlatformAppBase_OSX</string>
								<key>Name</key>
								<string>___PACKAGENAME___ macOS</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>iOSPlatform</string>
			<key>Name</key>
			<string>Include iOS Application</string>
			<key>NotPersisted</key>
			<false/>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>true</string>
			<key>Units</key>
			<dict>
				<key>true</key>
				<array>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>iOSPlatform</key>
							<string>true</string>
						</dict>
						<key>Components</key>
						<array>
							<dict>
								<key>Identifier</key>
								<string>com.apple.dt.unit.crossPlatformAppBase_iOS</string>
								<key>Name</key>
								<string>___PACKAGENAME___ iOS</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>tvOSPlatform</string>
			<key>Name</key>
			<string>Include tvOS Application</string>
			<key>NotPersisted</key>
			<false/>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>true</string>
			<key>Units</key>
			<dict>
				<key>true</key>
				<array>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>tvOSPlatform</key>
							<string>true</string>
						</dict>
						<key>Components</key>
						<array>
							<dict>
								<key>Identifier</key>
								<string>com.apple.dt.unit.crossPlatformAppBase_tvOS</string>
								<key>Name</key>
								<string>___PACKAGENAME___ tvOS</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
